AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: Empty
BasedOnStyle: llvm
BinPackArguments: true
BinPackParameters: false
BreakBeforeBraces: WebKit
ForEachMacros: [SLIST_FOREACH, SLIST_FOREACH_SAFE, STAILQ_FOREACH, STAILQ_FOREACH_SAFE, LIST_FOREACH, LIST_FOREACH_SAFE, TAILQ_FOREACH, TAILQ_FOREACH_SAFE, TAILQ_FOREACH_REVERSE, TAILQ_FOREACH_REVERSE_SAFE, SPLAY_FOREACH, SPLAY_FOREACH_REV, RB_FOREACH, RB_FOREACH_FROM, RB_FOREACH_SAFE, RB_FOREACH_REVERSE, RB_FOREACH_REVERSE_FROM, RB_FOREACH_REVERSE_SAFE, sl_foreach, sl_foreach_safe, sq_foreach, sq_foreach_safe, splay_foreach, splay_foreach_rev]
IndentWidth: 4
MaxEmptyLinesToKeep: 2
PointerAlignment: Middle
