AllowShortFunctionsOnASingleLine: Empty
BasedOnStyle: llvm
BinPackParameters: false
BreakBeforeBraces: WebKit
ForEachMacros: [SLIST_FOREACH, SLIST_FOREACH_SAFE, STAILQ_FOREACH, STAILQ_FOREACH_SAFE, LIST_FOREACH, LIST_FOREACH_SAFE, TAILQ_FOREACH, TAILQ_FOREACH_SAFE, TAILQ_FOREACH_REVERSE, TAILQ_FOREACH_REVERSE_SAFE]
IndentWidth: 4
MaxEmptyLinesToKeep: 2
PointerAlignment: Middle
